@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

img[alt="NexaByte Technologies"],
img[alt="NexaByte"] {
  mix-blend-mode: lighten;
}
